body {
    background-color: #252323;
}

* {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center; 
}

.test__header {
    text-align: center;
    margin-top: 30px;
    max-width: 500px;
}

span {
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1rem, 5vw, 1.9rem);
    color: var(--azul-oscuro);
    font-weight: 900;
    text-shadow: 4px 4px 3px #07223822
}

.final-title {
    color: var(--azul-acento);
}

.test__header h3 {
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--azul-oscuro);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: clamp(1rem, 3vw, 1.3rem);
}

.test__header p {
    font-size: clamp(0.9rem, 2vw, 16px);
    font-weight: 600;
    Color: var(--color-pop);
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 15px;
    text-align: center;
    border-left: 2px solid var(--color-pop);
}

/* --- FILTROS SECTION --- */

input[type="radio"] {
    display: none;
}

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton-filtro {
    margin: 20px;
    padding: 20px 20px;
    background-color: var(--azul-claro);
    color: var(--azul-acento);
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid var(--azul-acento);
}

.boton-filtro::before {
    background-color: #;
}


