:root {
    --azul-oscuro: #072238;
    --azul-claro: #ecf7fd;
    --azul-acento: #0b6eab;
    --color-pop: #FF7F50;
    --blanco: #ffffff;
}

body {
    display: flex;
    background-color: #ecf7fd;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, .sidebar__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* --- SIDEBAR SECTION --- */

.sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 65%;
    background-color: var(--azul-oscuro);
    color: #b8e0fa;
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    transition: appear 2s both alternate;
}

@keyframes appear {
    from  {
    opacity: 15%}
    
    to {
        width: 65%
    }
}

.sidebar__nav {
    flex: 1;
    display: flex;
}

.sidebar__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1
}

.sidebar__item {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 36px;
    position: relative;
    color: #b8e0fa;
    transition: all 0.3s ease;
    width: 100%;
    background-color: transparent;
}

.sidebar__item a {
    font-size: 0.7rem;
    color: inherit;
    text-decoration: none;
    padding-right: 6px;
    padding: 15px;
    text-wrap: balance;
}

.sidebar__item span {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1.3rem;
}

.sidebar__item:hover {
    background-color: #ecf7fd;
    width: 100%;
}

.sidebar__item a,
.sidebar__item span {
    color: #b8e0fa;
    transition: color 0.3s ease;
}

.sidebar__item:hover a,
.sidebar__item:hover span {
    color: #072238;
}

.sidebar__menu-logo {
    display: flex;
    margin: 5px auto 8px auto;
    width: 5.2rem;
}

input[type="checkbox"] {
    display: none;
}

.sidebar__form {
    position: absolute;
    z-index: 200;
    right:-1rem;
    top: 90px;
}

.sidebar__form label {
    position: relative;
    color: #072238;
    background-color: var(--color-pop);
    border-radius: 50%;
    padding: 0.4rem;
    user-select: none;
}

input[type="checkbox"]:checked ~ label {
    background-color: #072238;
    color: var(--color-pop);
}

.sidebar:has(input[type="checkbox"]:checked) {
    width: 15%;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__item a{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar__item span {
        margin: auto;
    }

.sidebar:has(input[type="checkbox"]:checked) .sidebar__menu-logo {
    width: 3.5rem;
}



footer {
    background-color: #fff;
    border-top: 3px solid var(--azul-oscuro);
    padding: 45px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bolder;
}

.copyright {
    color: var(--azul-oscuro);
}

.footer-links {
    display: block;
    padding-top: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--azul-acento);
}

.footer-links span {
    padding: 20px;
    color: #769eb6c5;
}
