:root {
    --azul-fondo: #0a192f;
    --azul-sidebar: #071629;
    --azul-neon: #00d2ff;
    --naranja-neon: #FF7F50;
    --texto-principal: #e6f1ff;
    --texto-secundario: #abb1c8;
    --blanco: #ffffff;
    --azul-cartas: rgba(255, 255, 255, 0.03)
}

span {
    font-weight: 600;
}

/* --- MAIN SECTION --- */

.main__header {
    margin-bottom: 40px;
}

main {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
    padding-left: 78px;
    z-index: 50;
    height: auto
}

.main__header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.word-wiki, .word-student {
    font-weight: 900;
    font-size: clamp(2.2rem, 3.5vw, 6rem);
    text-shadow: 0 8px 40px #ff7f506a;
}

.word-wiki {
    color: var(--naranja-neon);
}

.word-student {
    color: var(--blanco);
}

.main__header-slogan {
    padding-left: 1rem;
    margin-top: 18px;
    text-align: center;
    border-left: 2px solid var(--azul-neon);
    margin-bottom: clamp(10px, 0.8vw, 50px)
}

.main__header-slogan h2 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 6px;
    font-size: clamp(1rem, 1.5vw, 2.3rem);
    color: var(--azul-neon);
    text-shadow: 0 30px 40px rgba(0, 210, 255, 0.2);
    animation: grow 1.3s both steps(20);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.main__header-slogan h3 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: clamp(1rem, 1.4vw, 1.9rem);
    font-weight: 900;
    text-wrap: balance;
    color: var(--texto-principal);
    text-shadow: 0 5px 20px rgba(0, 210, 255, 0.2);
}

.slogan__animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__header-slogan h2::before  {
    display: flex;
    content: '';
    width: 2px;
    border-radius: 4px;
    height: 100%;
    background-color: var(--blanco);
    position: absolute;
    right: 0;
    align-self: flex-start;
    animation: titilar .45s infinite alternate
}

@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes titilar {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main__content-cards {
    justify-items: center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));    
    justify-content: center;
    gap: 40px;
    max-width: 1300px;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    text-wrap: pretty;
}

.card {
    display: grid;
    grid-template-rows: minmax(10px, 1fr);
    padding: 35px 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 15px 0 rgba(82, 91, 210, 0.533);
    border-radius: 20px;
    max-width: 4100px;
    max-height: 600px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.03);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--azul-neon);
    box-shadow: 0 8px 20px 0 rgba(0, 210, 255, 0.2);
}

.card h4 {
    color: var(--naranja-neon);
    margin-bottom: 10px;
    font-size: clamp(16px, 1.2vw, 22px);
    text-shadow: 0 2px 8px #ff7f5040;
}

.card p {
    color: var(--texto-secundario);
    font-size: clamp(16px, 1.2vw, 18px);
}

.card-link {
    text-decoration: none;
    color: var(--blanco);
    transition: color 0.6s;
}

.link-container {
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 25px;
    border: 1px solid var(--naranja-neon);
    box-shadow: 0 3px 20px #ff7f5057;
}


.link-container::before {
    content: '';
    display: block;
    background-color: var(--naranja-neon);
    width: 140%;
    height: 230%;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 38%;
    transition: top .6s, left .6s;
    z-index: -1;
    overflow: hidden;
}

.link-container:hover::before {
    top: -40%;
    left: -18%
}


/*--- QUERIES ---*/

@media (max-width: 700px) {
    body {
        display: block;
        position: relative;
    }

    footer {
        position: relative; 
        margin-left: 15%;
        padding: 20px 0;
        z-index: 10;
        width: auto;
    }

    .copyright {
        text-align: center;
    }

    .footer-links span {
        display: none;
    }

    .footer-links a {
        display: block;
        text-align: center;
        padding: 5px
    }
}

@media (min-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
        "sidebar main"
        "sidebar footer"
    }

    .main__header-content {
        justify-self: flex-start;
        align-self: flex-start;
    }

    .sidebar {
        grid-area: sidebar;
        position: sticky;
        width: 100%;
        min-height: 100vh;
    }

    body:has(input[type="checkbox"]:checked) {
        grid-template-columns: 8% 92%
    }

    .sidebar:has(input[type="checkbox"]:checked) {
        width: 100% !important; 
    }

    main {
        grid-area: main;
        width: 100%; 
        padding-left: 1.2rem
    }

    footer {
        grid-area: footer;
    }
}
