main {
    min-height: 100vh;
    display: flex;
    align-items: center; 
}

iframe {
    background-color: var(--blanco);
    border: 1px solid #ff7f502a;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px 0 rgba(94, 102, 210, 0.37);
}

.sidebar {
        display: none
    }
    
    iframe {
        width: 100%;
    }

    main {
        padding: 30px
    }
    
    iframe {
        width: 100%;
    }

    main {
        padding: 20px
    }



@media (min-width: 700px) {
    .sidebar {
        grid-area: sidebar;
        display: flex;
    }

    main {
        grid-area: main
    }

    iframe {
        width: clamp(600px, 10vw, 45rem );
        padding: 40px
    }
}
