* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator-container {
    position: relative;
    margin-top: 20px;
    width: 550px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.03);
    margin: auto;
    padding: 30px 30px; 
    border-radius: 8px;
    box-shadow: 0 0px 25px rgba(82, 90, 210, 0.297);
}

.paso_1, .select_wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input, select {
    display: inline-block;
    color: #dedada;
    padding: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    font-size: 16px;
    border: 1px solid var(--naranja-neon);
}

.fase_obligatoria {
    width: 18%
}

h4 {
    padding: 20px;
    color: #dedada;
    font-size: 14px;
}

p {
    color: var(--texto-secundario);
    font-size: 13px;
}

legend {
    font-size: 18px;
    padding: 0px 10px;
    font-weight: 600;
    color: var(--texto-secundario);
    text-shadow: 0 5px 20px rgba(0, 210, 255, 0.2);
}

.paso_2 {
    margin-top: 30px
}

fieldset {
    border: 1px solid rgba(255, 100, 0, 0.8);
    padding: 5px 15px;
}

#popup-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

#popup {
    background-color: var(--azul-fondo);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
}


/* 1. Cambiamos la caja principal del selector */
.ts-control {
    background-color: #0f172a !important; /* El fondo oscuro de tu web */
    border: 1.5px solid #f97316 !important; /* El naranja de tus inputs */
    color: #ffffff !important;             /* Texto blanco */
    border-radius: 8px !important;        /* Redondeado como los otros */
    padding: 7px !important;
}

/* 2. Cambiamos el color del texto cuando ya hay algo seleccionado */
.ts-wrapper.single .ts-control .item {
    color: #ffffff !important;
}

/* 3. Personalizamos el desplegable que sale al hacer clic */
.ts-dropdown {
    background-color: #0f172a !important;
    border: 1.px solid #f97316 !important;
    color: #ffffff !important;
}

/* 4. El color de las opciones al pasar el ratón */
.ts-dropdown .option.active {
    background-color: #f97316 !important; /* Fondo naranja al seleccionar */
    color: #ffffff !important;
}